RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(index\.php|application|assets|user_guide|robots\.txt)
RewriteRule ^(.*)$ /board/index.php/$1 [L]


